.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #FFB91C;
    height: 80px;
    width: 100vw;

  }
  .logo{
    width:250px;

  }
  
  .navbar h2 a {
    opacity: 1;
  }
  .navbar h2{
    color: #FFFF
  }
  .navbar ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
    
  }
  .navbar li {
    cursor: pointer;
    text-decoration: none;
  }
  
  .new-btn{
    border: 1px solid #FFF;
    padding: .5rem 1rem;
    border-radius: 1rem;
    
  }
  .new-btn:hover{
    opacity: 1;
  }
