.conteiner{ 
    display: grid;
    grid-template-areas:
    "car car car car car car" 
    "services services services services services services"
    "sobre sobre sobre sobre sobre sobre"
    "visita visita visita visita visita visita"
    
    ;
    grid-template-rows:350px 2300px 750px 1000px   ;
   
    background-color: #000000;
    width: 100vw;
    height: 100vh;  /* 5100px*/
    
}

.carrosel{
    grid-area: car;
    background-color: rgb(10, 61, 21);


}
.services{
    grid-area: services;
    /* background-color: green; */
    background-color: #ffd67d;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px 50px;
    justify-content: space-around;
    height: 2300px;
}
.t2{
    color: #ffff;
    font-size: 35px;
    /* margin-left: 40%; */
    /* background-color: aqua; */
    grid-area: titulo;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 80px;

}

.item1{
    background-color: rgb(72, 109, 109);
    order: 5;
    width: 500px;
    height: 600px;
    
  
}
.item2{
   order: 4;
   width: 500px;
   height: 600px;
   background-color: rgb(72, 109, 109);
   
}
.item3{
    order: 1;
    width: 500px;
    height: 600px;
    background-color: rgb(72, 109, 109);
    

}
.item4{
    order: 2;
    width: 500px;
    height: 600px;
    background-color: rgb(72, 109, 109);
  
}
.item5{
    order: 6;
    width: 500px;
    height: 600px;   
    background-color: rgb(72, 109, 109);
  
}
.item6{
    order: 3;
    width: 500px;
    height: 600px;
    background-color: rgb(72, 109, 109);
   
}

.sobre{
    grid-area: sobre;
    
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px 50px;
    justify-content: space-around;
    height: 800px;

}
.titulo-sobre{
    
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 100px;
    background-color: antiquewhite;
}
.bloco1{
    height: 300px;
    width: 300px;
    background-color: chocolate;
    text-align: center;
    
}
.bloco2{
    height: 300px;
    width: 300px;
    background-color: chocolate;
    text-align: center;
}
.bloco3{
    height: 300px;
    width: 300px;
    background-color: chocolate;
    text-align: center;
}
.visita{
    grid-area: visita;
    
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px 50px;
    justify-content: space-around;
    height: 1000px;
}
.titulo-visita{
    
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    
}
.form{
    height: 650px;
    width: 600px;
    background-color: aliceblue;
    
}