/*Reset*/


* {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------- */

#load {
    position: fixed;
    display: block;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }


.w3-bar {
    height: 100px;
}

/* NAV */
#logo {
    width: 250px;

}

.imglogo {
    width: 250px;
    margin-top: -80px;
}

.posicao {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.posicao:link{
    text-decoration: none;
}

#home  {
    z-index: 5;
}



/* FIM NAV */







.w3-margin-top {
    color: #FF004C;
    font-size: 25px;

}




i {
    margin-inline: 3px;
}


/* CAROUSEL */
.carrossel {
    margin-bottom: 0px;
}

.w-100 {
    height: 450px;
}






/* INICIO PRINCIPAL */

#artes {
    margin-top: 40px;
}

main {
    width: 100%;
    padding-bottom: 40px;
    margin-top: 0px;
}

.fundo {
    background-color: #ff9d1c;
}

.title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Reggae One';
    /* text-shadow: 2px 2px 20px #FF004C; */
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: white;
    text-align: center;
}

/* h2{
    
} */
.games {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background-color:	rgba(0, 0, 47,0.3); */
    justify-content: space-evenly;
}


.game-list {
    margin: 53px;
    padding: 25px;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(247, 11, 11); */
    background: #ff9d1c;
    box-shadow: 0 0px 50px 0 #14033b59;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

}

.game-list h3 {
    font-size: 125%;
    margin-top: 25px;
}

.game-list img {
    width: 240px;
    height: 240px;
}

.game-list:hover {
    transform: scale(1.10);

}

.btn-default {
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    color: #000015;
    border: none;
}

.btn-default:hover {
    background-color: #a7a7a7;
}

.imgserv {
    width: 50px;

}

#imgRenova {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 180px;
    height: 180px;
}

#imagemhabi {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

#imgAdi {
    margin-top: 45px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}

/* FIM PRINCIPAL */

/* MODAL */

.modal-title {
    color: black;
}

.modal-header {
    align-items: center;
    flex-direction: column-reverse;
}


/* INICIO PORQUE */

.title-pq {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    background-color: #ffffffd3;
    color: rgb(0, 0, 0);
}

.conteudo-pq {
    background-color: #fff;
    height: 100px;
}

.blocos {
    height: 300px;
    width: 400px;
    /* background-color: chocolate; */
    text-align: center;
}

.blocos h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

.blocos p {
    color: rgb(0, 0, 0);
}

.sobre {
    background-color: #ffffffd3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px 50px;
    justify-content: space-around;


}

/* FIM PORQUE */


/* INICIO matricula */
.formulario{

    margin: 100px;

}
.buttonEnviar{
    background-color: #d8d4d4;  
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}
/* #d8d4d4 */
/* #a3a3a3 */
.buttonEnviar:hover{
    background-color: #a3a3a3;
}


/* fim matricula */


/* INICIO SOBRE */


.empresa {
    grid-area: empresa;
    width: 1000px;
    /* background-color: aqua; */
}

.equipe {
    grid-area: equipe;
    width: 1000px;
    /* background-color: coral; */
}

.frota {
    grid-area: frota;
    width: 1000px;
    /* background-color: darkolivegreen; */
}

.empresa h2,
.carrosel h2,
.equipe h2,
.frota h2 {
    color: #FEB510;
    width: 1000px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-top: 100px;
    font-size: 45px;
}

.empresa p,
.carrosel p,
.equipe p,
.frota p {
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    margin-left: 50px;

}
.UltimoParagrafo-sobre{
    padding-bottom: 100px;
}



/* FIM SOBRE */

/* INICIO AREA ALUNO */

.containerAreaAluno {
    display: grid;
    grid-template-areas:
        "titulo"
        "btn1"
        "btn2"
        "btn3";
}

.title-areaAluno {
    grid-area: titulo;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    color: #FFB91C;
    font-size: 45px;
}

.btn1 {
    grid-area: btn1;
    width: 200px;
    justify-self: center;
    margin-bottom: 30px;
    background-color: #FFB91C;
    color: #ffff;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
}

.btn2 {
    grid-area: btn2;
    width: 200px;
    justify-self: center;
    margin-bottom: 30px;
    background-color: #FFB91C;
    color: #ffff;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;

}

.btn3 {
    grid-area: btn3;
    width: 200px;
    justify-self: center;
    margin-bottom: 100px;
    background-color: #FFB91C;
    color: #ffff;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;


}

.btn3:hover {
    background-color: #f5d48d;
}

.btn2:hover {
    background-color: #f5d48d;
}

.btn1:hover {
    background-color: #f5d48d;
}

/* FIM AREA ALUNO */


/* INICIO Footer */
.footer {
    background-color: #000015;
}

.titleFooter {
    color: #fff;
    text-align: center;

}

.subtitleFooter {
    color: #FFB91C;
    font-size: 22px;
}

.paragrafo-footer {
    margin-left: 8px;

}

.links {
    list-style: none;
    text-decoration: none;

}

.contact {
    padding-bottom: 10px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 200px;
}

.contact-list button {
    height: 30px;
    width: 150px;
    margin-left: 75px;

    padding: 3px 10px !important;

}

input {
    margin: 8px 0px !important;
    width: 300px;
    height: 35px;
}

.contact-list {
    margin-top: 75px !important;
    color: white;
}

.imglogoFooter {
    width: 180px;
    display: block;
    margin: auto;
}




/* FIM Footer */


span {
    padding-right: 10px;
}



/* ____________________________________________________________________*/
/*MEDIA QUERIES*/
/*- Desktop*/
@media screen and (max-width: 1500px) {

    .hero-description {
        height: 750px
    }

    .hero-title {
        font-size: 50px;
    }
}

/*Tamanho médio - Laptops*/
@media screen and (max-width: 1024px) {
    main {
        width: 100% !important;
        margin: auto !important;
    }

}

/*Tela pequena - tablets*/
@media screen and (max-width: 768px) {
    .heeder-large-screen {
        display: block !important;
    }

    header a {
        font-size: 14px;
        transition: 0.5s;
    }


    .hero-description {
        height: 400px;
        background-color: rgba(0, 0, 21, 0.336);


    }


    .hero-title {
        margin-top: 50px;
        font-size: 35px;
    }

    .hero-text p {
        width: 80%;
        font-size: 13px;
    }

    .title {
        text-align: center;
        font-size: 30px;
    }

    .event-text {
        width: 80%;
        color: blueviolet;

    }

    .event-text p {
        font-size: 13px;
    }

    .event-title {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;


    }

    .event-hero {
        width: 80%;
        margin: auto;
    }

    .event-image {
        width: 250px;
        height: 400px;
    }

    .event-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-list {
        width: 300px;
    }

    .contact {
        justify-content: space-around;
    }

    .contact-list p {
        font-size: 14px;

    }

    h5 {
        font-size: 17px;
    }

}

/*Tela pequenas - celular*/
@media screen and (max-width: 480px) {
    .heeder-large-screen {
        display: block !important;
    }



    .hero-description {
        height: 450px;
        background-color: rgba(0, 0, 21, 0.336);

    }

    .hero-title {
        font-size: 30px;
        ;
        padding-top: 70px;
    }

    .hero-text p {
        width: 100%;
        ;
        font-size: 13px;
    }

    .title {
        text-align: center;
        font-size: 25px;
    }

    .event-text {
        width: 100%;
        color: blueviolet;

    }

    .event-text p {
        font-size: 13px;
    }

    .event-title {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;


    }

    .event-hero {
        width: 90%;
        margin: auto;
    }

    .event-image {
        width: 250px;
        height: 400px;
    }

    .event-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-list {
        width: 300px;
        padding: 25px;
        border: 1px solid rgba(49, 45, 45, 0.5);
        border-radius: 10px;
    }

    .contact-list p {
        font-size: 12px;

    }


}